@font-face {
   font-family: 'Voga Regular';
   font-display: swap;
   src: url('file:///C:/Users/gui/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-09_120818/fonts/Voga%20Regular/font.ttf');
}
