body{

    /*background-color: #4287f5;*/
}
.loginContainer{
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    widows: 350px;
    height: 350px;
    border-radius: 10px;
}
.botaoGrandeComPadding{
    margin-top: 10px;
    width: 100%;
}
.textoVermelho{
    color: red;
}
.slides{
    background-image: url("../assets/images/slideshow3.jpg");
    background-size: cover;
    transition: background 1s linear;
}
.content{
    display: flex;
}
.photocontainer{
    width: 250px;
    margin: 10px;
}